body,html {
    height:100%;
}

.App {
}

/*
 * HeadBar
 */

@media screen and (min-width: 600px) {
    .ml-auto {
        visibility: hidden;
    }
}

#headbar-title {
    margin-left: 20px;
}
/*
 * SideBar
 */

.sidebar-container {
    margin-left: 20px;
}

.select-form {
    padding: 2em;
}

@media screen and (max-width: 600px) {
    .sidebar-container{
        visibility: hidden;
    }


}

/*
 * Post
 */

#post-main {
}

#post-body {
}

#edit-modal {
}

.new-post-btn-container {
    position: fixed;
    right:30px;
    bottom: 25px;
}

.new-post-btn {
    display: block;
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 50%;
    background-image: url('./icons/add.svg');
    font-size: 0;
    cursor:pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2), 0 3px 6px rgba(0,0,0,0.23);
}

/*
 * Post Card
 */

.post-col {
    margin-bottom: 20px;
    margin-left: 10px;
}

.title,.vote-sign,.vote,.score {
    display: inline;
}

.vote {
    font-size: 0.8em;
    float: right;
}

.score {
    color: #3939cc;
}

.card {
    border-radius: 30px;
}

.button-container {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #dbdbdd;
    padding-top: 10px;
}

.post-btn {
    width: 120px;
}

/*
 * Comment
 */

#comment-card-btn-container {
    width: 100%;
    margin-top: 20px;
}

.comment-input {
    margin: auto;
}

.comment-submit {
    width: 100%;
    margin-bottom: 10px;
}

#no-comments {
    color: gray;
    text-align: center;
}

/* for both comment edit and delete */
.comment-btn {
    display: inline-block;
    width: auto;
    float: right ;
    margin-right: 3px;
    margin-top: -7px;
}

#comment-body {
    display: inline-block;
}