body,html {
    height:100%;
}

.App {
}

/*
 * HeadBar
 */
.headbar {
    margin-top: 10px;
}

.headbar-select {
    display: inline-block;
}

.headbar-category {
    margin-top: 5px;
    margin-right: 7px;
}

#headbar-title {
    margin-left: 20px;
}
/*
 * SideBar
 */

.sidebar-container {
    margin-left: 20px;
}

.select-form {
    padding: 2em;
}

/*
 * Post card
 */
.post-body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.post-author-date {
    display: inline;
    font-size: 13px;
    font-style: italic;
    color: gray;
}

.post-badge {
    margin-left: 5px;
    line-height: 1em;
    width: 80px;
    margin-top: 0;
}

.post-col {
    margin-bottom: 20px;
    margin-left: 10px;
}

.title,.vote-sign,.vote,.score {
    display: inline;
}

.vote {
    font-size: 0.8em;
    float: right;
}

.v-btn {
    width: 20px;
    height: 20px;
    border: 0;
    background-size: 20px;
    background-position: center;
}

.v-btn {
}

.vote-up-btn {
    background-image: url('./icons/up.svg');
}

.vote-up-o-btn {
    background-image: url('./icons/up-o.svg');
}

.vote-down-btn {
    background-image: url('./icons/down.svg');
}

.vote-down-o-btn {
    background-image: url('./icons/down-o.svg');
}

.score {
    color: #3939cc;
}

.card {
    border-radius: 15px;
}

.card-body {
    padding: 10px 20px;
}
.post-btn-container {
    display: flex;
    /*justify-content: space-around;*/
    border-top: 1px solid #dbdbdd;
    padding-top: 10px;
}

.post-btn {
    width: 80px;
    padding: 1px;
    margin-right: 5px;
    margin-left: 5px;
}

/*
 * Post
 */
.new-post-btn-container {
    position: fixed;
    right:30px;
    bottom: 25px;
}

.new-post-btn {
    display: block;
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 50%;
    background-image: url('./icons/add.svg');
    font-size: 0;
    cursor:pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2), 0 3px 6px rgba(0,0,0,0.23);
}

.no-posts {
    color: gray;
}

.post-form-container {
    margin:auto;
}


/*
 * Comment
 */

#comment-card-btn-container {
    width: 100%;
    margin-top: 20px;
}

.comment-input {
    display: inline-block;
    margin: auto;
}

.comment-input-container {
    margin-bottom: 0;
}

.comment-submit {
    display: inline-block;
    margin-bottom: 10px;
    padding: 3px 10px;
}

.comment-author, .comment-author-label {
    display: inline-block;
}
.comment-author-container {
}
#no-comments {
    color: gray;
    text-align: center;
}

.comment-btn-container {
    display: inline;
    margin:0;
    padding: 2;
}
.comment-btn {
    width: auto;
    float: right ;
    margin-right: 3px;
    padding: 1px 5px;
    font-size: 13px;
}
.comment-main{
    display: block;
}

#comment-author {
    display: inline;
    margin: 0;
    line-height: 1em;
    font-size: 15px;
    font-weight: bold;
}

#comment-body {
    display: inline;
    margin: 0;
    line-height: 0.1;
    font-size: 15px;
}

#comment-date {
    display: inline;
    font-size: 13px;
    font-style: italic;
    color: gray;
}

.comment-item-container {
    padding: 8px;
}


